:root {
    --white-color: white;
    --black-color: black;
    --text-color: #333;
}
* {
    box-sizing: inherit;
}
html {
    /* Làm cho 1 rem bằng 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
/*Product -item*/
.hidden {
    display: none !important;
}
.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: white;
    margin-top: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
}
.home-product-item:hover {
    box-shadow: 0 0.1rem 0.05rem 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}
.product-img {
    /* Cách làm hình vuông cho background image */
    padding-top: 100%;
    background-size: contain;
    background-position: center;
}
.product-heading {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.4;
    margin: 10px 10px 6px;
    /* Cách cho chữ dư ra thành ... */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    /* Cách 1(Dùng cho 1 dòng) */
    /* text-overflow: ellipsis;
white-space: nowrap; */
    /* Cách 2(Dùng cho nhiều dòng) */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.price-wrap {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.old-price {
    margin-left: 11px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.current-price {
    margin-left: 11px;
    font-size: 1.6rem;
    color: #fb9086;
    margin-left: 4px;
}
.product-action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0px;
}
.like-product {
    font-size: 1.3rem;
}
.rating-product-gold {
    color: #ffce3e;
}
.already-sold {
    font-size: 1.2rem;
    color: #333;
    margin-left: 6px;
}
.rating-product {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}
.origin {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #595959;
    align-items: center;
    padding-bottom: 10px;
}
.brand-origin {
}
.origin-name {
}
.product-favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: white;
    background-color: #f5402d;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 4px;
}
.favorite-icon {
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}
.product-favorite::before {
    content: "";
    position: absolute;
    border-top: 3px solid #f5402d;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    filter: brightness(40%);
}
.sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}
.sale-value {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    position: relative;
    top: 3px;
}
.sale-label {
    font-size: 1.2rem;
    line-height: 1.7;
    color: white;
    font-weight: 600;
}
.sale-off::before {
    content: "";
    position: absolute;
    border-width: 0 20px 9px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent
        rgba(255, 216, 64, 0.94);
    left: 0;
    bottom: -9px;
}